body{
  animation: anime 10s infinite;
  margin: auto;
  font-family: sans-serif;
}

.conteiner{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0 15%;
  padding-top: 32%;
  animation: animeStrob 15s infinite;
}

.conteiner>div{
  display: flex; /* при отмене картинка не заполняет блок снизу по веритикале*/
  align-items: center;
  border-radius: 50%;
  border: 10px solid rgba(45,45,45,0.5);
  width: 240px;
  margin: 10px;
  overflow: hidden;
}

.conteiner>div>img{
  width: 100%;
}

#spider{
  position: fixed;
  bottom: 800px;
  right: 0px;
  width: 200px;
  border: none;
  border-radius: 0%;
  animation: spider 15s 1;
}
#logo{
  background: url(../pic/logo.png) no-repeat;
  background-size: 100%;
  position: absolute;
  top: 5%;
  left: center;
  animation: logo 10s infinite;
  width: 50%;
  height: 450px;
  border: none;
  border-radius: 0%;
}

footer{
  background: black;
  border-top: 1px solid darkgrey;
  text-align: center;
  color: grey;
  width: 100%;
  height: 50px;
  margin-top: 50px;
  padding-top: 20px;
}

@keyframes anime{
  from{
    background: black;
  }
  50%{
    background: #3f0000;
  }
  to{
    background: black;
  }
}

@keyframes animeStrob{
  39.9%{
    background: none;
  }
  40%{
    background: white;
  }
  40.1%{
    background: none;
  }
  40.9%{
    background: none;
  }
  41%{
    background: white;
  }
  41.1%{
    background: none;
  }
  41.9%{
    background: none;
  }
  42%{
    background: white;
  }
  42.1%{
    background: none;
  }
  42.9%{
    background: none;
  }
  43%{
    background: white;
  }
  43.1%{
    background: none;
  }
}

@keyframes logo{
  from{
    opacity: 0;
  }
  20%{
    opacity: 0;
  }
  60%{
    opacity: 1;
  }
  80%{
    opacity: 0;
  }
  to{
    opacity: 0;
  }
}

@keyframes spider{
  from{
    bottom: 100%;
  }
  40%{
    bottom: 70%;
  }
  41%{
    bottom: 71%;
  }
  50%{
    bottom: 50%;
  }
  51%{
    bottom: 51%;
  }
  60%{
    bottom: 30%;
  }
  61%{
    bottom: 31%;
  }
  70%{
    bottom: 10%;
  }
  80%{
    bottom: 10%;
  }
  to{
    bottom: 120%;
  }
}