body{
	margin: 0 auto;
	padding: 0;
	background-image: url(../pic/fon.jpg);
	font-family: Oswald;
}

header{
	position: relative;
	background: rgba(236,110,67,1);
	width: 100%;
	height: 126px;
}

header>.headerL{
	position: absolute;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	top: 45px;
	left: 2%;
	padding-right: 150px;
	box-sizing: border-box;
	width: 45%;
}

header>div>a{
	margin: 5px;
	font-family: Oswald;
	text-decoration: none;
	color:white;
}

header>div>a:hover{
	text-decoration: none;
	color: #8F1D21;
}

header>.headerC{
	position: absolute;
	margin-left: 50%;
	transform: translateX(-50%);
	background-color: white;
	width: 326px;
	height: 137px;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 5px 20px grey;
}

header>.headerC>img{

	margin-left: 50%;
	transform: translateX(-50%);
	height: 80%;
}

header>.headerR{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	position: absolute;
	right: 3%;
	padding-left: 150px;
	box-sizing: border-box;
	top: 45px;
	width: 45%;
}

.headerR>form{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.headerR>form>.search{
	border-radius: 15px 0 0 15px;
	border: none;
	text-align: right;
	height: 20px;
	width: 110px;
}

.headerR>form>button{
	border-radius: 0 15px 15px 0;
	border: none;
	background-color:#ecbc95; 
	height: 22px;
}

.headerR>form>button:hover{
	background-color: gray;
	color:white;
}

.headerR>form>button:active{
	background-color: rgba(236,110,67,1);
}

/* Контент */

.content{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1140px;
	background-color: white;
	border-radius: 0 0 10px 10px;
	border-right: 2px solid silver;
	border-left: 2px solid silver;
	box-shadow: 0 0 40px gray;
	padding: 40px;
	overflow: hidden;
}

.content>div{
	margin: 1%;
	width: 48%;
	min-width: 330px;
}

.content>.maps{
	height: 450px;
	border: none;
	border-radius: 15px;
	overflow: hidden;
}

.content>.maps>iframe{
	width: 100%;
	height: 100%;
	border: none;
}

.content>.info{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	height: 450px;
	background-color: rgba(200,200,200,1);
	border-radius: 15px;
}

.content>.info>div{
	margin-left: 20%;
}

.content>.info>div:first-child{
	margin-top: 80px;
}

.content>.info>div:last-child{
	margin-bottom: 80px;
}

.content>.info>div>a{
	display: flex;
	align-items: center;
	text-decoration: none;
}

.content>.info>div>a>img{
	width: 50px;
	height: 50px;
}

.content>.info>div>a>span{
	margin-left: 10px;
}

.content>.info>.phone>a{
	color: green;
}

.content>.info>.email>a{
	color: blue;
}

.content>.info>.vk>a{
	color: rgba(74,118,168,0.8);
}

.content>.info>.ok>a{
	color: rgba(238,150,8,0.8);
}

.content>.info>.insta>a{
	color: rgba(121,0,163,0.8);
}

.content>.info>div>a:hover{
	text-decoration: none;
}

.content>.info>.vk>a:hover{
	color: rgba(74,118,168,1);
}

.content>.info>.ok>a:hover{
	color: rgba(238,150,8,1);
}

.content>.info>.insta>a:hover{
	color: rgba(121,0,163,1);
}

.content>.info>div:hover{
	font-weight: bold;
}

/*Футер*/

footer{
 	position: absolute;
 	top: 100vh;
 	left: 0;
 	margin-top: -40px;
 	background-color: black;
 	width: 100%;
 	height: 40px;
 	color:white;
 	text-align: center;
 	padding-top: 10px;
 	box-sizing: border-box;
 }